@import url('https://fonts.cdnfonts.com/css/digital-7-mono');
@import url('https://fonts.cdnfonts.com/css/white-bear-lake');
@import url('https://fonts.cdnfonts.com/css/mabook');

#counter {
    opacity:0.1;
}

#counter:hover{
    opacity:1;
}

#interface {
    text-align:center; 
    margin-left:auto; 
    margin-right:auto;
    border-collapse: separate;
    border-spacing: 10px;
    border: 1px solid darkcyan;
    border-radius: 5px;
    background-color: rgb(193, 210, 241);
}

td img {
    height:20px;
    padding:5px 0px 0px 0px;
}

.progressbar {
    border: 1px solid #55c;
    border-radius: 5px;
    background-color: rgba(127,127,127,0.2);
}


.progressbar .inner {
    height: 6px;
    width: 100%;
    border-radius: 3px;
    background-color: #55c;
    animation: progressbar-countdown;
    animation-duration: 30s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation-timing-function: linear;
}

@keyframes progressbar-countdown {
    0% {
        width: 100%;
        display: inline-block;
    }
    100% {
        width: 0%;
        display: inline-block;
    }
}

#hardOn, #hardOff {
    display:inline-block;
    border: 2px solid grey;
    height: 40px;
    width: 55px;
    background-color: rgba(0,0,0,0.1);
    color:grey;
    border-radius: 5px;
    margin:3px;
    font-size:16px;
}



#hardOn:disabled{
    border-color: red;
    color:red;
    font-weight: bold;
    background-color: rgba(255,200,200,0.4);
    pointer-events: none;
}

#hardOff:disabled{
    border-color:blue;
    color:blue;
    font-weight: bold;
    background-color: rgba(200,200,255,0.4);
    pointer-events: none;
}


button.func, button.operator, button.number, button.comp, button.done, button.selected {
    display:inline-block;
    height:80px;
    width:auto;
    min-width:80px;
    padding:none;
    font-weight: bold;
    border: none;
    border-radius: 5px; 
    font-weight: bold;
    transition-duration: 0.1s;
    cursor: pointer;
    user-select: none;
}

button.func{
    font-family: "Candara";
    font-size: 20px;
    height:42px;
    width:100%;
    background-color: #999;
    color: white;
}

button.operator {
    font-family: "Century Gothic";
    font-size: 35px;
    background-color: darkcyan;
    color: white;
}

button.disabled {
    opacity: 0.2;
    pointer-events: none;
}

button.number{
    font-family: "Century Gothic";
    background-color: blue;
    color: white;
    overflow: hidden;
    font-size: 35px;
}

button.comp {
    background-color: slateblue;
}

button.done {
    background-color: mediumseagreen;
    color:white;
}

button.selected {
    border-bottom: 6px solid magenta;
    background-color: darkmagenta;
    color:lightpink;
}

button:hover {
    opacity: 0.8;
}


td.target {
    text-align:center;
    border: 1px solid grey;
    border-radius: 5px;
    height:70px;
    padding:2px;
    background-color: black;
    color: yellow;
    font-size: 65px;
    font-family: 'Digital-7 Mono', "Century Gothic";
    letter-spacing: 2px;
    font-weight: bold;
    user-select: none;
}

td.scratch {
    border: none;
    border-radius: 3px;
    padding:10px;
    max-width: 100px;
    text-align:center;
    vertical-align: top;
    color:black;
    background:
    conic-gradient(from 90deg at 1px 1px,#0000 90deg,rgb(235, 235, 235) 0) 
    0 0/10px 10px;
    background-color: rgb(255, 255, 255);
    font-size: 28px;
    font-family: 'Mabook','Candara', sans-serif;
    line-height: 1.5;
    user-select: none;

}

.sol {
    display:inline-block;
}

.sol td {
    vertical-align: top;
    padding:0px 10px;
}

td.column {
    float: left;
    width: 50%;
}

#setting{
    text-align: left;
    font-family: "Century Gothic",sans-serif;
    margin:5px;
    border-radius: 5px;
    padding:10px;
    font-size:16px;
    line-height: 1.4;
    background-color: rgba(0,0,200,0.2);
}

#debug {
    display: none;
}




/*
td.cell {
    font-family: "Century Gothic";
    font-size: 35px;
    width:70px;
    background-color: blue;
    color: white;
    font-weight: bold;
}

td.operator {
    font-family: "Century Gothic";
    font-size: 35px;
    background-color: darkcyan;
    color: white;
    font-weight: bold;
}






hr {
    border: 1px solid grey;
}*/